/* src/index.css */
@import "tailwindcss";

@theme {
  --breakpoint-xs: 460px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

.filter-section input[type="radio"]:checked {
  accent-color: white;
  border: 1px solid black;
}

.fare-filter-section input[type="radio"]:checked {
  accent-color: black;
}

.filters input[type="checkbox"] {
  background-color: transparent;
}

.filters input[type="checkbox"]:checked {
  accent-color: #78080B;
}

@font-face {
  font-family: "ltwave";
  src: url("./assets/fonts/lt_wave/LTWave-Medium.otf") format("truetype");
}

.primary-font {
  font-family: "ltwave";
}

.secondary-font {
  font-family: "Poppins", sans-serif;
}

@keyframes planeLandin {
  0% {
    transform: translateX(500px) scale(0.2);
    opacity: 0;
  }

  100% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
}

.plane {
  position: absolute;
  right: -300px;
  bottom: 10px;
  animation: planeLandin 2s ease-out forwards;
}

/* Ribbon CSS */
.ribbon {
  clip-path: polygon(0 0, 98% 0, 95% 50%, 98% 100%, 0 100%);
  background-image: linear-gradient(to right, rgba(160, 14, 18, 0.6) 0%, rgb(143 3 6) 100%);
  background-size: 200% 100%;
  background-position: left;
}

@keyframes ribbonExpand {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.animate-ribbon {
  animation: ribbonExpand 1.5s linear forwards;
}

#FlightComparisonsSection {
  width: 380px;
  max-height: 500px;
  transition: width 1s ease-out, max-height 1s ease-out, opacity 1s ease-out;
  overflow: hidden;
  opacity: 1;
}

#FlightComparisonsSection.collapsed {
  width: 0px;
  max-height: 0px;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.splide__track {
  padding: 10px 10px !important;
}


/* Scroll Bar CSS */

/* Seat map scrollbar */
.custom-seat-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-seat-scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 999px;
}

.custom-seat-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,
      #6366f1,
      #4f46e5);
  border-radius: 999px;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.custom-seat-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg,
      #4f46e5,
      #4338ca);
}

/* Firefox */
.custom-seat-scroll {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 rgba(0, 0, 0, 0.05);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

@media (max-width: 768px) {
  #FlightComparisonsSection {
    width: 300px;
    max-height: 500px;
    font-size: 0.8rem;
  }
}

@media (max-width: 1280px) {
  .plane {
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
  }
}